@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

*,
*:before,
&:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  min-height: 100vh;
  background: #101010;
}

.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  font-family: 'Nunito Sans 7pt Expanded ExtraLight', sans-serif;
  font-size: 1.5rem;
  border-radius: 50rem;
  width: 5rem;
  aspect-ratio: 1 / 1;
  transition: 200ms all ease-in-out;
  background: #ffffff;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.button:hover {
  background: #B3FF84;
}